#navbar{
  /* border: solid red; */
  display: flex;
 
  color: white;
  justify-content: space-between;
 
}
#logo{
  height: 80px;
  padding: 10px;
}
#home{
  display: flex;
  /* border: solid rgb(20, 28, 4); */
}
 p:hover{
  color: #42d0f4;
}
a{
  color: #f5f3f3;
}
#login{
  display: flex;

  /* border: solid rgb(0, 255, 38); */
}
#navbar p{
  font-size: 20px;
  padding: 15px;

}
.bg{
background-image: url(./AdminPage/image/court.jpg);
background-size: cover;

background-color: #42d0f4;
height: 800px;
/* border: solid red; */
}
p a{
  /* border: solid red; */
  font-size: 20px;
}
#ptag{
  
  font-size: 80px;
  color: #3b3836;
  width: 40%;
  background-color: #4ec9fa;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}


*{
  padding: 0;
  margin: 0;
}

.menu-bar{
  background-color: rgb(146, 144, 246);
  text-align: center;
  
  border: solid red;
}

.menu-bar ul{
 display: inline-flex;
 list-style: none;
 color: #fff;
}  

.menu-bar ul li{
  width: 120px;
  margin: 15px;
  padding: 15px;
 }  

 .menu-bar ul li a{
   text-decoration: none;
   color: #fff;
 }  
  
 .active, .menu-bar ul li:hover{
  background-color: #4ec9fa;
  border-radius: 3px;
 }
 .sub-menu-1{
  display: none;
 }

 .menu-bar ul li:hover .sub-menu-1
 {
  display: block;
  position: absolute;
  background-color: #4ec9fa;
 margin-top: 15px;
 margin-left: -15px;

  

 }

 .menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
margin: 10px;
 }
 .menu-bar ul li:hover .sub-menu-1 li {
 width: 150px;
 padding: 10px;
 border-bottom: 1px dotted #fff;
 background: transparent;
 border-radius: 0;
 text-align: left;

 }
 .menu-bar ul li:hover .sub-menu-1 li :last-child{
  border-bottom: none;
 }
 .menu-bar ul li:hover .sub-menu-1 li a:hover{
color:#b2ff00;
 }

  /* sdjkhkjashakjfhkl */

/* ?////////////////////////////////////////////////////////////////////////////// */
#when{

  padding: 80px;
  text-align: center;
  font-size: 55px;
  color:rgb(56, 210, 237);
}

#wel{
  width: 80%;
margin: auto;
font-size: 20px;
text-align: center;
color:rgb(56, 210, 237);
font-weight: bold;
  
}

#need{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
  

}

#welcome{
    width: 70%;
    text-align: center;
    color: aliceblue;
    margin: auto;
    font-size: 22px;
}


#schedule{
   
    color: rgb(233, 131, 35);
    text-align: center;
    background-color: rgb(53, 240, 243);
    margin: 100px;
    width: 30%;
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */

}

a {
    text-decoration: none;
}


#photo{
    background-image: url("./AdminPage/image/judge-gavel-with-justice-lawyers-ADTMB9G-scaled.webp");
    height: 800px;
    
}



#pactice-area{
    color: rgb(1, 5, 7);
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}



.container {
    position: relative;
    text-align: center;
    color: white;
   font: bold;
   font-size: 30px;
    width: 25%;
  }
  
  
  .centered {
    position: absolute;
    top: 80%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }



  #head-container {
    
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;

}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.container img {
    filter: blur(1px); /* Adjust the blur amount as needed */
    max-width: 100%;
    height: auto;
       
}

/* *****************************Repuation */
.SecThreeParent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.SecThreeParent > div {
  height: 629px;
  margin: 0px;
}

.HexaGonalImage {
  overflow: hidden;
}
.SecThreeLeft {
  padding: 90px;
  width: 30%;
  height: 50%;
  background-color: #fdfafa;
}
.SecThreeLeft > div {
  height: 100%;
}
.SecThreeRight {
  padding: 53px 110px;
  width: 60%;
  background-color: #3b3836;
}

.SecThreeRight > * {
  color: white;
}
.SecThreeRight > div {
  margin-top: 30px;
}
.SecThreeRight p {
  font-size: 25px;
  font-weight: 600;
}
.SecThreeRight span {
  margin-left: 30px;
}
.RRResult {
  font-size: 45px;
}
.hammersec3 {
  width: 30px;
  margin-right: 4px;
}
.sec3para {
  color: rgb(214, 202, 202);
  margin-left: 35px;
}
/* ******************************Repuation end */
/* top rated lawer */
#meet{
  font-size: 50px;
  text-align: center;
}
.Sec5Parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.SecFiveLawyerCard {
  display: flex;
  padding: 15px;
 
justify-content: space-between;
 
}

.SecFiveLawyerCard div img{

width:80%;
}

.YellowBorderImgs {
  z-index: 0;
  position: relative;
  /* border: 3px solid#FFDE59;
  border-bottom: 7px solid#FFDE59; */
  transition: all 300ms ease-in-out;

text-align: center;
  
}

.YellowBorderImgs h1 {
  text-align: center;
  font-size: 20px;
}
.YellowBorderImgs:hover {
  scale: 1.05;
}
.YeloBarSec5 {
  height: 150px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  z-index: -1;
  background-color: #ffd41f;
}

/************************* 80years */
/* .SectionSix {
  min-height: 670px;
  background-color: #3b3836;
  padding: 20px 100px;
  border: solid red;
  align-items: center;
}
.AboutHead {
  text-align: center;
  color: #ffd41f;
  margin: 20px;
  font-size: 50px;
}
.SecSixParent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.SecSixParent > * {
  color: white;
}
.SecSixRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.NumBum {
  display: flex;
  width: 320px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.NubBumBar {
  margin: 10px;
  background-color: #ffd41f;
  height: 100%;
  width: 69px;
}
.numbumnumber {
  font-size: 60px;
}
.NumBum:hover {
  cursor: pointer;
  scale: 1.05;
} */

/****************** footer */
/* Footer styles */
footer {
  background-color: #f5f3f3;
  padding: 20px;
}

.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 80px;
  width: auto;
}

.contact,
.terms {
  flex: 1;
  margin: 0 20px;
}

.contact h3,
.terms h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.contact p,
.terms p {
  font-size: 20px;
  line-height: 1.5;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-div {
    flex-direction: column;
  }

  .contact,
  .terms {
    margin: 20px 0;
  }
}

/******************** footer end */

@media (max-width: 768px) {
    #container {
        width: 48%;
    }
}

@media (max-width: 480px) {
    #container {
        width: 100%;
    }
}

/* ----------------------nav bar ---------------*/
*{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}


a,button{
  font-size: 16px;
  font-weight: 500;
  color:white;
  text-decoration: none;
  cursor:pointer;
}
button{
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid#21e7f5;
 border-radius: 50px;
 padding: 9px 15px;
 height: 50px;
}

 a:hover{
  color:#2fcaf9;
  transition: all 0.4s ease 0s;

}
button:hover{
  background-color:#127a91;
  transition: all 0.4s ease 0s;
}

#hh:hover{
  background-color:#10778b;
  transition: all 0.4s ease 0s;
  border: solid rgb(7, 204, 239);
}

#hh{
  background: rgba(0, 0, 0, 0.2);
border: 2px solid#5ac7f3;
border-radius: 50px;
padding: 9px 15px;
height: 60px;
width:30%;
text-align: center;
margin: auto;
margin-top: 90px;

}
#hh a{
  font-size: 25px;
}