* {
    margin: 0px;
    padding: 0px;
    /* font-style: oblique; */
    font-family: "Inter Tight", "Helvetica Neue", -apple-system, "system-ui", "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}





#logotop{
    display: block;
     height: 70px; 
     width: 210px; 
     padding-left: 10px; 
     padding-top: 5px;
}
#outter {
    width: 100%;
    display: flex;
    
}
#Heading{
    margin-left: 500px;
    /* padding: 2px; */
    margin-top: 5px;
    color: blueviolet
}


#parent {
    width: 100%;
    display: flex;
   

}

#parentone {

    width: 19%;
    text-align: justify;
    padding-top: 40px;
   
}

#parenttwo {
    border: 1px solid rgb(37, 37, 37);
    border-radius: 10px 15px;
    width: 80%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: 0px 9px 30px rgba(255, 5, 5, 0.3); */
    box-shadow: 0 0 0 2px rgba(34, 32, 33, 0.196), 8px 8px 0 0 rgba(0, 0, 0, 0.168);
    background-image: url('https://img.freepik.com/free-photo/still-life-with-scales-justice_23-2149776040.jpg?w=1060&t=st=1686818557~exp=1686819157~hmac=c3576517cc989964509d7b751af30073b9d8d891a1348854615b963415d73dbe');
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    background-size: 100% 100%;
    /* background-color: white; */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdAra2KL-8NN4OoTLUC8_O1f9B9RLZT90hZg&usqp=CAU'); */
    /* background: rgb(70,183,161);
background: linear-gradient(90deg, rgba(70,183,161,1) 2%, rgba(40,219,111,1) 24%, rgba(27,201,134,1) 56%, rgba(9,180,107,0.8100490196078431) 92%, rgba(32,211,103,1) 100%); */


}

#parentone>h2 {
    padding: 10px 20px;
    font-size: 17px;
    

}

#parentone>h2:hover {
    cursor: pointer;
    color: blue;
    font-size: 20px;
}

#mainsection {

    width: 90%;
    margin: auto;
    padding: 40px;
}

#dash {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    margin-top: 10px;

}

#dash>div:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid black;
}

#firstbox {
    /* background-color: rgb(219, 153, 249); */
    background: rgb(156,133,143);
background: linear-gradient(68deg, rgba(156,133,143,0.8800770308123249) 0%, rgba(148,187,233,1) 100%);
opacity: 0.8;
    padding: 40px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: black;
}

#secondbox {
    /* background-color: rgb(202, 240, 114); */
    opacity: 0.8;
    background: rgb(156,133,143);
background: linear-gradient(68deg, rgba(156,133,143,0.8800770308123249) 0%, rgba(148,187,233,1) 100%);
    padding: 40px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#thirdbox {
    /* background-color: rgb(236, 139, 171); */
    opacity: 0.8;
    background: rgb(156,133,143);
background: linear-gradient(68deg, rgba(156,133,143,0.8800770308123249) 0%, rgba(148,187,233,1) 100%);
    padding: 40px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}



#donutchart {
    
    width: 100%; 
    height: 500px; 
    padding-bottom: 30px;
}

#donutchart:hover {
    cursor: pointer;
   
}

#chart {
    width: 100%;
    margin: auto;

}


#dashtwo {
    width: 100%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

#productimg {
    display: block;
    width: 100%;
    height: 350px;
    border-radius: 7px;

}

#productdiv {
    border-radius: 7px;
    /* background-color: red; */

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

background-image: linear-gradient(
  315deg,
  hsl(0deg 8% 65%) 0%,
  hsl(30deg 17% 68%) 8%,
  hsl(42deg 28% 71%) 16%,
  hsl(48deg 42% 74%) 27%,
  hsl(52deg 59% 77%) 38%,
  hsl(55deg 81% 79%) 52%,
  hsl(40deg 34% 70%) 67%,
  hsl(349deg 13% 59%) 79%,
  hsl(287deg 18% 43%) 88%,
  hsl(266deg 45% 31%) 95%,
  hsl(240deg 100% 20%) 100%
);

}

#productdiv:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid black;
}

.edit:hover {
    cursor: pointer;

}

#crud {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 9px;
}

#crud:hover {
    border: 1px solid black;
}

#crud>h3:hover {
    cursor: pointer;
}

#mainsectionofcrud {
    display: none;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border-radius: 9px;
    padding: 30px 0px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#add {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#add>div {
    padding: 0px 10px;
}

#addingbtn {
    padding: 6px 23px;
    font-size: 20px;
    border-color: rgb(89, 167, 223);
    border-radius: 9px;
    background-color: rgb(89, 167, 223);
    color: white;
}

#addingbtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#add>div>input {
    display: block;
    width: 95%;
    height: 30px;
    padding: 4px;
    border-radius: 7px;
}

/* -------------------------remove-------------------------- */

#mainsectionofremove {
    display: none;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border-radius: 9px;
    padding: 10px 0px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#removeproduct {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    gap: 20px;
}

#removeproduct>div {
    padding: 0px 10px;
}

#removeproduct>div>input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 7px;

}

#removeproduct>div>p {
    margin-bottom: 8px;
}

#removebttn {
    padding: 10px 10px;
    border-radius: 9px;
    border: 2px solid rgb(89, 167, 223);
    background-color: rgb(89, 167, 223);
    color: white;
    font-size: 20px;
}

#removebttn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* -------------------------------------update all-------------------- */
#mainsectionupdateall {
    display: none;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border-radius: 9px;
    padding: 10px 0px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#updateall {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#updateall>div {
    padding: 0px 10px;
}

#updateall>div>input {
    display: block;
    width: 95%;
    height: 30px;
    padding: 5px;
    border-radius: 7px;
}

#updattingallbtn {
    padding: 6px 23px;
    font-size: 20px;
    border-color: rgb(89, 167, 223);
    border-radius: 9px;
    background-color: rgb(89, 167, 223);
    color: white;
}

#updattingallbtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* -----------------------------------------update single-------------------------- */
#mainsectionupdatesingle {
    display: none;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#updatesinglepro {
    display: flex;
    margin: 20px 20px;
}

#updatesinglepro>div {
    width: 50%;
}

#updatesinglepro input {
    width: 90%;
    padding: 10px 5px;
    border-radius: 9px;
    font-size: 15px;
}

#updatesinglebtn {
    padding: 10px 10px;
    border-radius: 9px;
    border: 2px solid rgb(89, 167, 223);
    background-color: rgb(89, 167, 223);
    color: white;
    font-size: 20px;
}

#updatesinglebtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* ------------------------------------profile--------------------------- */
#profilehead {
    /* border: 2px solid rgb(127, 0, 217); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 7px;
    font-size: 20px;
}

#profileimg {
    display: block;
    width: 100%;
    height: 130px;
    border-radius: 10px;
}

#proimgdiv {

    width: 100%;
    margin-bottom: 2%;
    display: flex;
    gap: 10px;
}

#firstpro {
    width: 30%;
}

#secondpro {
    width: 70%;
}

#secondpro>p {
    text-align: justify;
}

#mainofprofile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

#carddiv {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3% 3%;
    background-color: white;
    color: black;
    border-radius: 7px;
    /* border: 2px solid rgb(127, 0, 217); */
}

#detailsection {
    display: flex;
}

#location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

}

#location>div>img:hover {
    cursor: pointer;
    transform: scale(1.5);

}

#userdata {
    width: 70%;
    padding-left: 12px;
}

/* -----------------------------------create------------------------------------ */
#createmain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px
}

#createmain input {
    width: 80%;
    padding: 10px;
    border-radius: 9px;
}

#addmember {
    margin-top: 40px;
    padding: 6px 45px;
    font-size: 22px;
    border-color: #3a2a7c;
    border-radius: 9px;
    background-color:white ;
    color: black;
}

#addmember:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#createparentdivv h2 {
    color: white;
}

#createparentdivv h3 {
    color: white;
}
#alltable table{
    border: 2px solid white;
    font-size: 20px;
    padding: 10px 10px;
    
}
#alltable th{
    border: 2px solid white; 
    padding-left: 10px;  
}
#alltable td{
    
    padding: 3px 3px;  
}
#network{
    background-image: url("https://th.bing.com/th/id/R.165e767b5a5632b7b7e5d8def96a708b?rik=m2wRJ0c0vuYGgQ&riu=http%3a%2f%2fgalaxymap.org%2fimages%2f21398.jpg&ehk=ahVzgyEgocFlSigCZ0FTNwfrG1c5JtNnkQ6eG%2b4%2fBg0%3d&risl=&pid=ImgRaw&r=0");
}
#network:hover{
    border: 3px solid white;
    cursor: pointer;
}
#containClickbtn{
    border:2px solid white;
    padding:2px 2px;
    background-color: #3a2a7c;
}
#containClickbtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}

/* --------------------------------responsive--------------------------------- */

@media screen and (min-width: 700px) and (max-width: 900px){
    #outter {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logotop{
         padding-top: 5px;
    }
    #parent {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #parentone {
        width: 100%;
        display: flex;
        border: 3px solid black;
        padding-top: 0px;
    
    }
    #parentone>h2{
        display: block;
    }
    
    #parenttwo {
        width: 100%;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 0px 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #3a2a7c;
    
    }
    #mainsection {
        width: 90%;
        margin: auto;
        
    }
    #dash {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        
    
    }
    #dash>div{
        margin-top: 15px;
    }
    #firstbox {
        width: 70%;
        margin: auto;
        background-color: rgb(219, 153, 249);
        padding: 40px 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }
    
    #secondbox {
        width: 70%;
        margin: auto;
        background-color: rgb(202, 240, 114);
        padding: 40px 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }
    
    #thirdbox {
        width: 70%;
        margin: auto;
        background-color: rgb(236, 139, 171);
        padding: 40px 15px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }
    #donutchart {
        display: block;
        /* width: 70%; */
    }
    #dashtwo {
        width: 100%;
        margin: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    
    }
    #crud>h3{
        text-decoration: underline;
    }
}

@media all and (max-width: 699px){
    
    #outter {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logotop{
         padding-top: 5px;
    }
    #parent {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #parentone {
        width: 100%;
        display: flex;
        border: 3px solid black;
        padding-top: 0px;
    
    }
    #parentone>h2{
        display: block;
    }
    
    #parenttwo {
        width: 100%;
        border: 1px solid rgb(63, 63, 63);
        border-right: none;
        border-radius: 0px 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #3a2a7c;
    
    }
    #mainsection {
        width: 90%;
        margin: auto;
        
    }
    #dash {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        
    
    }
    #dash>div{
        margin-top: 15px;
    }
    #firstbox {
        width: 70%;
        margin: auto;
        background-color: rgb(219, 153, 249);
        padding: 40px 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }
    
    #secondbox {
        width: 70%;
        margin: auto;
        background-color: rgb(202, 240, 114);
        padding: 40px 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }
    
    #thirdbox {
        width: 70%;
        margin: auto;
        background-color: rgb(236, 139, 171);
        padding: 40px 15px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }
    #donutchart {
        display: block;
        /* width: 70%; */
    }
    #dashtwo {
        width: 100%;
        margin: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    
    }
    #crud>h3{
        text-decoration: underline;
    }  
    #mainofprofile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        
    }
}